<div class="container">
    <div class="py-5v py-lg-vii">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="title pb-lg-v pb-i">延伸閱讀</h2>
          <div class="swiper-blog swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide border-bottom">
                <div class="row flex-column flex-md-row pb-v ">
                  <div class="col-md-4">
                    <picture>
                      <source srcset="/assets/images/read-1-sm.png" meida="(max-width:767px)">
                      <img src="/assets/images/read-1.png" alt="read-1" class="w-100 pb-3 pb-md-0">
                    </picture>
                  </div>
                  <div class="col-md-8">
                    <h3 class="fs-5 pb-8">私人島嶼的露營奇遇記</h3>
                    <p class="pb-2">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜...</p>
                    <p class="text-end fs-9 pb-iii"><a href="article-all.html" class="text-success">Read More</a></p>
                  </div>
                </div>  
              </div>
              <div class="swiper-slide border-bottom">
                <div class="row flex-column flex-md-row pb-v pb-v ">
                  <div class="col-md-4">
                    <picture>
                      <source srcset="/assets/images/read-2-sm.png" meida="(max-width:767px)">
                      <img src="/assets/images/read-2.png" alt="read-2" class="w-100 pb-md-0">
                    </picture>
                  </div>
                  <div class="col-md-8">
                    <h3 class="fs-5 pb-8">城市野營日記</h3>
                    <p class="pb-2">終於!我實現了一個看似瘋狂的想法—在熟悉的城市裡野營一晚。說實話,一開始我也有點懷疑自己,畢竟眾目睽睽之下搭帳篷實在有點怪異。不過漸漸地,這股初時的侷促不...</p>
                    <p class="text-end fs-9 pb-iii"><a href="#" class="text-success">Read More</a></p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide border-bottom">
                <div class="row flex-column flex-md-row pb-v pb-v">
                  <div class="col-md-4">
                    <picture>
                      <source srcset="/assets/images/read-3-sm.png" meida="(max-width:767px)">
                      <img src="/assets/images/read-3.png" alt="read-3" class="w-100 pb-md-0">
                    </picture>
                  </div>
                  <div class="col-md-8">
                    <h3 class="fs-5 pb-8">和寵物去露營 - 大自然之旅的雙倍體驗</h3>
                    <p class="pb-2">說實話,一開始我有點擔心帶著我的狗狗露營會不會太麻煩。畢竟要照顧牠的飲食起居,還得注意牠的安全。不過這次經驗讓我徹底改觀了!出發前,我特意為狗狗準備了適當...</p>
                    <p class="text-end fs-9 pb-iii"><a href="#" class="text-success">Read More</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 