<header class="container">
    <nav class="navbar navbar-expand-lg py-v border-bottom">
        <a class="navbar-brand me-lg-iv" href="index.html"><img src="/assets/images/logo.png" alt="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex input-group w-auto me-lg-auto mt-2">
                <input class="form-control border border-end-0 rounded-start-pill" type="search" placeholder="搜尋文章">
                <a class="input-group-text btn border border-start-0" type="submit"><i class="bi bi-search text-success"></i></a>
            </form>
        <ul class="navbar-nav justify-content-end align-items-center mb-2 mb-lg-0">
            <li class="nav-item me-lg-20 py-2 py-lg-0 mt-4 mt-lg-0 me-lg-v"><a class="nav-link" href="article-list.html">所有文章</a></li>
            <li class="nav-item me-lg-20 py-2 py-lg-0 mt-4 mt-lg-0 me-lg-v"><a class="nav-link" href="subscribe.html">訂閱方案</a></li>
            <li class="nav-item me-lg-20 py-2 py-lg-0 mt-4 mt-lg-0 me-lg-v"><a class="nav-link" href="about.html">關於我們</a></li>
            <li class="nav-item py-2 mt-4 py-lg-0 mt-lg-0 btn-w"><a href="register.html" class="btn bg-success text-white rounded-pill btn-w">註冊/登入</a></li>
        </ul>
        </div>
    </nav>
</header>