//btn-lgc
.navbar-expand-lg .navbar-nav .btn-lgc{
    padding: 16px 24px ;
    border-radius: 50rem;
}

@include lg{
    .btn{
        padding: 16px 24px;
    }
}

.btn-smc{
    padding: 4px 8px;
}

//bg
.bg-beige-200{
    background-color: $beige-200;
  }  
.bg-beige-300{
    background-color: $beige-300;
}

//hover、active
.hover{
    &:hover{
        background-color: $green-100;
        border-radius: 4px;
    }
}
.active{
    border-radius: 4px !important;
}

//margin、padding
.mb-12{
    margin-bottom: 12px;
}
.me-10{
    margin-right: 12px;
}

//fz
.fs-7{
    font-size: 12px;
}

//border
.rounded-start-c{
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}
.rounded-end-c{
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.border-gray-400{
    border-color: $gray-400 !important;
}
.text-gray-400{
color: $gray-400 !important;
}
  

//width
.w-20{
    width: 20%;
}

//text-color
.text-beige-400{
    color: $beige-400;
}
