.card{
    background-color: $white;
    border: 1px solid $beige-300;
}
.content{
    border: 0;
    background-color: $gray-100;
    padding: 12px 16px;
    width: 100%;
}
.alternative{
    z-index: 1000;
}

.decorate{
    border-top: 1px solid $gray-200;
}

.btn-submit{
    padding: 12px 20px;
}