<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- banner -->
    <section class="container">
      <div class="py-lg-vi">
        <div class="banner-bg d-flex flex-column justify-content-end justify-content-lg-center align-items-center align-items-lg-start">
          <div class="banner-box text-white mb-5 mb-lg-0">
            <p class="text-center text-lg-start">獻給新世代的生活風格誌</p>
            <h2 class="pt-2 pb-i">一起探索生活的無限可能</h2>
            <div class="text-center text-lg-start">
              <p class="btn btn-success text-white">馬上訂閱<i class="bi bi-arrow-right"></i></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- top theme  -->
    <section class="container">
      <div class="py-5 py-lg-vi">
        <h2 class="title mb-4">熱門主題</h2>
        <div class="row g-1 g-lg-4">
          <div class="col-12 col-lg-3">
            <div class="theme theme-1 position-relative">
              <p class="position-absolute top-50 start-50 translate-middle text-white fs-5 fw-bold">城市漫遊者</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="theme theme-2 position-relative">
              <p class="position-absolute top-50 start-50 translate-middle text-white fs-5 fw-bold">秘境尋蹤人</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="theme theme-3 position-relative">
              <p class="position-absolute top-50 start-50 translate-middle text-white fs-5 fw-bold">品味設計家</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="theme theme-4 position-relative">
              <p class="position-absolute top-50 start-50 translate-middle text-white fs-5 fw-bold">美食探險記</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="theme theme-5 position-relative">
              <p class="position-absolute top-50 start-50 translate-middle text-white fs-5 fw-bold">美學建築誌</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="theme theme-6 position-relative">
              <p class="position-absolute top-50 start-50 translate-middle text-white fs-5 fw-bold">慢活生活行</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="theme theme-7 position-relative">
              <p class="position-absolute top-50 start-50 translate-middle text-white fs-5 fw-bold">工藝匠心賞</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="theme theme-8 position-relative">
              <p class="position-absolute top-50 start-50 translate-middle text-white fs-5 fw-bold">時尚先鋒派</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- article -->
    <section class="container">
      <div class="py-5 py-lg-vi">
        <h2 class="title pb-4">精選文章</h2>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide col-lg-4">
              <div class="card border-0 border-bottom">
                <div class="card-body p-0">
                  <picture>
                    <source srcset="/assets/images/articles-1.png" media="(min-width:992px)">
                    <img src="/assets/images/articles-1-sm.png" alt="article-1" class="">
                  </picture>
                  <h3 class="title-card pt-4 pb-1">私人島嶼的露營奇遇記</h3>
                  <p>遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧..</p>
                  <div class="py-4">
                    <p><a href="#" class="text-success fs-5">Read More</a></p>
                  </div>
                </div>
                </div>
            </div>
            <div class="swiper-slide col-lg-4">
              <div class="card border-0 border-bottom">
                <div class="card-body p-0">
                  <picture>
                    <source srcset="/assets/images/articles-2.png" media="(min-width:992px)">
                    <img src="/assets/images/articles-2-sm.png" alt="article-1" class="">
                  </picture>
                  <h3 class="title-card pt-4 pb-1">窺探米其林三星主廚的絕密手藝</h3>
                  <p>在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人...</p>
                  <div class="d-flex justify-content-between align-items-center py-4">
                    <p><a href="#" class="text-success fs-5">Read More</a></p>
                    <p><a href="#" class="border bg-beige-300 vip">會員專屬</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div> 
        </div>
      </div>
    </section>
    <!-- promote event       -->
    <section class="container">
      <div class="promote-bg ">
        <div class="row">
          <div class="col-4 position-relative">
            <div>
              <img src="/assets/images/bg-1.png" alt="bg-1" class="d-none d-lg-block position-absolute start-0 bottom-0">
            </div>
          </div>
          <div class="col-4 py-lg-vi">
            <div class="d-flex d-flex flex-column align-items-center text-nowrap">
              <p class="event">\ 母親節強檔活動 / </p>
              <h2 class="pt-2 pb-4 fs-4">家庭訂閱方案限時 7 折</h2>
              <p class="mb-3"><i class="bi bi-check2"></i>每月最新文章無限閱讀</p>
              <p class="mb-3"><i class="bi bi-check2"></i>專屬會員限定內容</p>
              <p class="mb-3"><i class="bi bi-check2"></i>定期電子報</p>
              <p class="mb-3"><i class="bi bi-check2"></i>年度精選禮物</p>
              <p class="mb-3"><i class="bi bi-check2"></i>24 /7 優先客戶服務</p>
              <p class="mb-3"><i class="bi bi-check2"></i>為每個成員量身打造專屬行程</p>
              <div class="btn btn-success text-white">我想了解</div>
            </div>
          </div>
          <div class="col-4 position-relative">
            <picture>
              <source srcset="/assets/images/bg-2.png" media="(min-width:992px)">
              <img src="/assets/images/bg-2-sm.png" alt="bg-2-sm" class="position-absolute end-0 bottom-0">
            </picture>
          </div>
        </div>
      </div>
    </section>
    <!-- who are looking -->
    <section class="container">
      <div class="py-5 py-lg-vi">
        <h2 class="title pb-4">大家都在看</h2>
        <div class="row flex-nowrap">
          <div class="col-lg-3 d-none d-lg-block">
            <ul class="px-3 pt-3 list-unstyled list-group" id="list-tab" role="tablist">
              <li class="mb-4"><a href="#list-alchol" class="fs-5 py-3 ps-3 d-block hover list-group-item list-group-item-action" id="list-alcohol-list" role="tab">‧ 酒精路跑地圖</a></li>
              <li class="mb-4"><a href="#list-ramen" class="fs-5 py-3 ps-3 d-block hover list-group-item list-group-item-action" id="list-ramen-list" role="tab">‧ 台北拉麵圖鑑</a></li>
              <li class="mb-4"><a href="#list-seaisland" class="fs-5 py-3 ps-3 d-block hover list-group-item list-group-item-action" id="list-seaisland-list" role="tab">‧ 海島自由行</a></li>
              <li class="mb-4"><a href="#list-aboard" class="fs-5 py-3 ps-3 d-block hover list-group-item list-group-item-action" id="list-aboard-list" role="tab">‧ 短天數出國推薦</a></li>
              <li class=""><a href="#list-camp" class="fs-5 py-3 ps-3 d-block hover list-group-item list-group-item-action" id="list-camp-list" role="tab">‧ 週末露營趣 </a></li>
            </ul>
          </div>
          <div class="col-lg-9">
            <div class="swiper-one tab-content" id="nav-tabContent">
              <div class="swiper-wrapper">
                <div class="swiper-slide tab-pane fade show active" role="tabpanel" id="list-alcohol">
                  <div class="card bg-white" style="width: 20.38rem;">
                    <div class="card-body">
                      <h5 class="card-title text-success mb-12">酒精路跑地圖</h5>
                      <p class="card-text mb-1">｜城市酒吧人氣榜,盤點當紅熱門酒吧</p>
                      <p class="card-text mb-1">｜你要的調酒師在這裡！五月全台酒...</p>
                      <p class="card-text mb-1">｜台南老宅手工酒藏,尋味百年人文釀意</p>
                      <img src="/assets/images/hots-1-sm.png" class="card-img-top pb-4 pt-3" alt="hots-1-sm">
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1 me-10">#夜貓行程</a>
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1 me-10">#barhopping</a>
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1">#全台酒吧</a>
                    </div>
                    <a href="#" class="text-success text-center pb-3">View More<i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
                <div class="swiper-slide tab-pane fade" role="tabpanel" id="list-ramen">
                  <div class="card bg-white" style="width: 20.38rem;">
                    <div class="card-body">
                      <h5 class="card-title text-success mb-12">台北拉麵圖鑑</h5>
                      <p class="card-text mb-1">｜城市酒吧人氣榜,盤點當紅熱門酒吧</p>
                      <p class="card-text mb-1">｜你要的調酒師在這裡！五月全台酒...</p>
                      <p class="card-text mb-1">｜台南老宅手工酒藏,尋味百年人文釀意</p>
                      <img src="/assets/images/hots-2-sm.png" class="card-img-top pb-4 pt-3" alt="hots-1-sm">
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1 me-10">#雞白湯</a>
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1 me-10">#拉麵</a>
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1"># 台北美食</a>
                    </div>
                    <a href="#" class="text-success text-center pb-3">View More<i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
                <div class="swiper-slide tab-pane fade" role="tabpanel" id="list-seaisland">
                  <div class="card bg-white" style="width: 20.38rem;">
                    <div class="card-body">
                      <h5 class="card-title text-success mb-12">海島自由行</h5>
                      <p class="card-text mb-1">｜私島慢活島嶼生活 - 在熱帶天堂品...</p>
                      <p class="card-text mb-1">｜海島漂流記 - 在陽光、沙灘和比基...</p>
                      <p class="card-text mb-1">｜島嶼蹤跡 - 揭開加勒比海上世外桃...</p>
                      <img src="/assets/images/hots-3-sm.png" class="card-img-top pb-4 pt-3" alt="hots-1-sm">
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1 me-10">#熱帶國家</a>
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1 me-10">#海邊</a>
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1">#無敵海景</a>
                    </div>
                    <a href="#" class="text-success text-center pb-3">View More<i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
                <div class="swiper-slide tab-pane fade" role="tabpanel" id="list-aboard">
                  <div class="card bg-white" style="width: 20.38rem;">
                    <div class="card-body">
                      <h5 class="card-title text-success mb-12">短天數出國推薦</h5>
                      <p class="card-text mb-1">｜72小時東京遊走 - 當個時尚東京通</p>
                      <p class="card-text mb-1">｜48小時曼谷遊玩全攻略 </p>
                      <p class="card-text mb-1">｜三天兩夜賞櫻微醺東京</p>
                      <img src="/assets/images/hots-4-sm.png" class="card-img-top pb-4 pt-3" alt="hots-1-sm">
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1 me-10">#說走就走</a>
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1 me-10">#出國玩</a>
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1">#東亞</a>
                    </div>
                    <a href="#" class="text-success text-center pb-3">View More<i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
                <div class="swiper-slide tab-pane fade" role="tabpanel" id="list-camp">
                  <div class="card bg-white" style="width: 20.38rem;">
                    <div class="card-body">
                      <h5 class="card-title text-success mb-12">週末露營趣</h5>
                      <p class="card-text mb-1">｜週末說走就走露營記</p>
                      <p class="card-text mb-1">｜城市野營日記</p>
                      <p class="card-text mb-1">｜和寵物去露營 - 大自然之旅的雙倍...</p>
                      <img src="/assets/images/hots-5-sm.png" class="card-img-top pb-4 pt-3" alt="hots-1-sm">
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1 me-10">#戶外</a>
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1 me-10">#露營控</a>
                      <a href="#" class="fs-7 btn-smc bg-beige-300 rounded-1">#凹豆</a>
                    </div>
                    <a href="#" class="text-success text-center pb-3">View More<i class="bi bi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
