<!DOCTYPE html>
<html lang="zh-hant-tw">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>付款</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="container">
        <div class="pt-3 pb-2 pb-lg=3 pt-lg-5v">
            <div class="py-3">
                <a href="index.html">首頁 /</a>
                <a href="subscribe.html"> 訂閱方案 /</a>
                <a href="payment.html" class="text-success"> 付款</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="pb-v">
            <h1 class="title-lg">付款</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-7">
                <div class="card p-4 p-lg-v mb-4">
                    <h2 class="title pb-4 pb-lg-v fw-bold">購買人</h2>
                    <form action="#">
                        <label for="name" class="mb-2">姓名</label>
                        <input type="text" id="name" name="name" placeholder="請輸入姓名" class="d-block content mb-3">
                        <label for="password" class="mb-2">密碼</label>
                        <input type="password" name="password" id="password" placeholder="請輸入密碼" class="d-block content mb-3">
                        <label for="mail" class="mb-2">電子信箱</label>
                        <input type="mail" name="mail" id="mail" placeholder="請輸入電子信箱" class="d-block content mb-3">
                        <input type="checkbox" name="remember" id="remember" class="checked-color">
                        <label for="remember" class="ms-1">記住我的資訊</label>
                    </form>
                </div>
                <div class="card p-4 p-lg-v">
                    <h2 class="title pb-4 pb-lg-v fw-bold">付款方式</h2>
                    <form action="#">
                        <label for="" class="mb-2 fw-bold">Pay With</label>
                        <div class="mb-3">
                            <input type="radio" name="payway" id="payway" class="checked-color" checked>
                            <label for="payway">信用卡</label>
                        </div>
                        <label for="credit" class="mb-2">信用卡號碼</label>
                        <input type="credit" name="credit" id="credit" placeholder="1234 5678 1234 5678" maxlength="12" class="d-block content mb-3">
                        <div class="row mb-4">
                            <div class="col-6">
                                <label for="valid" class="mb-2">過期日</label>
                                <input type="text" name="valid" id="valid" placeholder="MM/YY" maxlength="4" class="content w-100">
                            </div>
                            <div class="col-6">
                                <label for="guarantee" class="mb-2">認證碼</label>
                                <input type="text" name="guarantee" id="guarantee" placeholder="CVV" maxlength="3" class="content w-100">
                            </div>
                        </div>
                        <input type="checkbox" name="remember-card" id="remember-card" class="checked-color">
                        <label for="remember-card" class="ms-1">記住卡片資訊</label>
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card p-4 p-lg-v border-success">
                    <h2 class="title pb-4 border-bottom fw-bold text-success">訂單資訊</h2>
                    <div class="border-bottom py-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2 fw-bold">輕量型方案</p>
                            <p class="fw-bold">NT 1,188</p>
                        </div>
                        <p class="text-gray-300">年繳</p>
                    </div>
                    <form action="#" class="border-bottom py-4">
                        <label for="discount" class="d-block mb-2">折扣碼</label>
                        <div class="d-flex justify-content-between">
                            <input type="text" name="discount" id="discount" placeholder="請輸入折扣碼" class="content">
                            <button class="btn btn-discount btn-light text-gray-400 ms-2" type="submit">套用</button>
                        </div>
                    </form>
                    <div class="border-bottom py-4">
                        <div class="d-flex justify-content-between">
                            <p class="mb-2">小計</p>
                            <p>NT 1,188</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>折扣</p>
                            <p>0</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center py-4">
                        <p>總計</p>
                        <p class="title">NT 1,188</p>
                    </div>
                    <a class="btn btn-success text-white" href="successful.html">立即付款 <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    



    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>